@import '~assets/style/media'

.section
  padding: .1px

  .section__content
    margin: 60px 60px 60px 150px

    +rmq
      margin: 30px 25px

  &.is-first-section
    .section__content
      +rmq
        margin-top: 120px

  .section__title
    margin: 150px auto 100px auto
    text-align: center
    font: 500 20px 'Helvetica', sans-serif
    letter-spacing: .1em
    text-transform: uppercase

    +rmq
      margin-top: 120px
      margin-bottom: 70px
